@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Gem.WebApp.Models.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password";
}

<h3>This will send password reset 6-digit verification code to you e-mail. Use this code to reset password. If e-mail is not visible, check spam folder.</h3>
<div class="logo-container">
    <img class="logo" src="~/gem-logo.png" alt="logo" />
</div>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @if (ViewBag.Message != null)
    {
        <label>@ViewBag.Message</label>
    }
    <br />
    @Html.LabelFor(a => a.Email)
    <br />
    @Html.TextBoxFor(a => a.Email, null, new { @class = "form-control" })
    <br />
    @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger"})

    <br />
    <input type="submit", value="Send email" />

    <br />
    <a class="input-button" asp-area="" asp-controller="Account" asp-action="Login">Back to the login</a>
}