#client_id {
    text-align: center;
    margin: auto;
    border: 3px solid purple;
    padding-bottom: 10px;
    padding-top: 10px;
}

body {
    background-color: #f7f7f2
}

.form {
    padding: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.logo-container {
    margin: auto;
    text-align: center;
}

.logo {
    margin: auto;
    text-align: center;
    height: 300px;
}

.input {
    padding: 5px;
}

.input-button {
    padding: 1-px;
}

a:link {
    color: purple;
}
