@{
    ViewData["Title"] = "Login";
}


<div class="logo-container">
    <img class="logo" src='@Url.Content("~/gem-logo.png")' alt="logo" />
</div>
<form action="chat.html" method="post" class="form">
    <div class="container">
        <h1>Login functionality will come here soon</h1>
        <div class="hide">
        <label for="uname"><b>Username</b></label>
        <input class="input hide" type="text" placeholder="Enter Username" name="uname">

        <br>

        <label for="psw"><b>Password</b></label>
        <input class="inputhide" type="password" placeholder="Enter Password" name="psw">

        <br>
        </div>
        <a class="input-button also-hide" asp-area="" asp-controller="Home" asp-action="Chat">Login</a>

        <a class="input-button" asp-area="" asp-controller="Registration" asp-action="Index">Register</a>
        <br>
        <a class="input-button hide" asp-area="" asp-controller="Home" asp-action="FBlogin">Login with Facebook</a>

    </div>

    <div class="container">
        <span class="psw hide">Forgot <a href="recoverP.html">password?</a></span>
    </div>
</form>
