@{
    ViewData["Title"] = "Welcome to the Gem";
}

<div class="logo-container">
    <img class="logo" src="~/gem-logo.png" alt="logo" />
</div>
<h1>Gem</h1>
<div class = "about-project">
    <h3>Gem – free, simple and secure messaging application. Staying in touch has never been easier
        – send private messages to your friends or create a group chat for your family or colleagues. 
        Group chats are perfect for discussing your favourite movies or sharing family events, 
        jokes and photos. Express yourself with your unique avatar and stay connected!
    </h3>

</div>
<h3 class= "first-login">
<a class="input-button backlink" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
</h3>